body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1a1a1a;
    color: #fff;
}

header {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav li {
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 2rem;
}

h2 {
    margin-bottom: 1rem;
}

#hero {
    background-image: url('https://free4kwallpapers.com/uploads/originals/2015/08/25/website-background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

.cta-button {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.2s;
}

.cta-button:hover {
    background-color: #555;
}

#introduction {
    animation: fadeIn 1s ease;
    text-align: center;
}

#introduction h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: #333;
    color: #fff;
    padding: 0.3rem 1rem;
    display: inline-block;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#skills, #contact, #hobbies {
    animation: fadeIn 1s ease;
    text-align: center;
}

#skills h2, #contact h2, #hobbies h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: #333;
    color: #fff;
    padding: 0.3rem 1rem;
    display: inline-block;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#contact ul, #hobbies ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#contact li, #hobbies li {
    margin-bottom: 0.5rem;
}

#contact a, #hobbies li {
    color: #ffffff;
}

.menu-button {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    z-index: 9999;
}

.menu-layer {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 2rem;
    transition: left 0.3s ease;
}

.menu-layer.active {
    left: 0; 
}

.menu {
    list-style: none;
    padding: 0;
}

.menu-item {
    margin-bottom: 1rem;
}

.menu-item a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.2s;
}

.menu-item a:hover {
    color: #f00;
}

#projects {
    animation: fadeIn 1s ease;
    text-align: center;
}

#projects h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: #333;
    color: #fff;
    padding: 0.3rem 1rem;
    display: inline-block;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.project-card {
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
}

.project-card img {
    width: 100%;
    height: auto;
}

.project-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.project-card:hover .project-overlay {
    opacity: 1;
}

.cta-button {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s, transform 0.2s;
}

.cta-button:hover {
    background-color: #555;
    transform: scale(1.05);
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url('https://scontent.fmnl4-3.fna.fbcdn.net/v/t1.6435-9/201537043_2940313199560985_4113764484304717193_n.jpg?_nc_cat=110&cb=99be929b-3346023f&ccb=1-7&_nc_sid=174925&_nc_eui2=AeH_s_Lixwx6v6oslvOVbEHneMRUW8Kiya54xFRbwqLJrob7Na0zNPZ-5qjo6bPoApKkOIvYFzzfCfif3DzGL4xw&_nc_ohc=iAJAr6xAxksAX93PDqE&_nc_ht=scontent.fmnl4-3.fna&oh=00_AfC9P8SDtqf4gkCWyI1nD1s--MK644L7VxNrUy3qLic_nw&oe=64E5AEC5');
    background-size: cover;
    background-position: center;
}

#introduction {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

#introduction .container {
    max-width: 700px;
    margin: 0 auto;
}

#introduction h2 {
    margin-bottom: 1rem;
}

.introduction-content {
    background-color: #1a1a1a;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.introduction-content h3 {
    margin-bottom: 1.2rem;
}

.hidden-content {
    display: none;
}

#introduction.active .hidden-content {
    display: block;
}
#resume {
    animation: fadeIn 1s ease;
    text-align: center;
    padding: 2rem;
  }
  
  #resume h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    background-color: #333;
    color: #fff;
    padding: 0.3rem 1rem;
    display: inline-block;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  }
  
  #resume p {
    margin-bottom: 1rem;
  }
  
  #resume .cta-button {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.2s, transform 0.2s;
  }
  
  #resume .cta-button:hover {
    background-color: #555;
    transform: scale(1.05);
  }
  